openapi: 3.0.0
info:
  title: EPIN Api
  version: 1.0.0
  description: Elektronisches Polleninformationsnetwerk (ePIN)


servers:
  - url: 'https://epin.lgl.bayern.de/api'
    description: Live Server

tags:
  - name: Location
    description: Employee operations
  - name: Measurement
    description: Task operations
  - name: Pollen
    description: Task assignment operations

paths:
  '/locations':
    get:
      summary: Get locations
      description: Get all locations.
      tags:
        - Location
      operationId: getLocations
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'

  '/measurements':
    parameters:
      - in: query
        name: from
        required: true
        schema:
          type: number
      - in: query
        name: to
        required: true
        schema:
          type: number
      - in: query
        style: form
        name: locations
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        style: form
        name: pollen
        explode: true
        schema:
          type: array
          items:
            type: string
    get:
      summary: Get measurements
      description: Get filtered measurements.
      tags:
        - Measurement
      operationId: getMeasurements
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Measurement'

  '/pollen':
    get:
      summary: Get pollen
      description: Get all pollen.
      tags:
        - Pollen
      operationId: getPollen
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pollen'

components:
  schemas:
    Location:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        network:
          type: string
        lon:
          type: number
        lat:
          type: number
    Measurement:
      type: object
      properties:
        from:
          type: number
        to:
          type: number
        measurements:
          type: array
          items:
            type: object
            properties:
              polle:
                type: string
              location:
                type: string
              data:
                type: array
                items:
                  type: object
                  properties:
                    from:
                      type: number
                    to:
                      type: number
                    value:
                      type: number
    Pollen:
      type: array
      items:
        type: string
